.about {
  color: #1E1E1E;
  padding-bottom: 50px;
}


.aboutyeah {
  font-size: 150px;
  margin-left: 25px;
}


.aboutmebox {
  color: #E1e1e1;
  background-color: #4A7C6F;
  padding: 25px;

  max-width: 1200px;
  min-height: 500px;

  margin-top: -145px;
  margin-left: 50px;
}

.aboutmetext {
  font-size: 20px;
  margin-top: 25px;
  line-height: 1.6;
}


@media (max-width: 640px) {
  .aboutyeah {
    font-size: 64px;
    margin-left: 16px;
  }

  .aboutmebox {
    margin-left: 16px;
    margin-right: 16px;
    padding: 16px;
    min-height: 500px;
    margin-top: -65px;
  }

  .aboutmetext {
    font-size: 16px;
    margin-top: 16px;
  }
}
.skills-background {
  width: 100%;
  background: #DDD5C8;
  padding: 10px 24px 60px 24px;
}

.skills {
  max-width: 1104px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.skills-heading {
    margin-bottom: 40px;
    text-align: left;
    font-size: 150px;
    margin-left: -10px;
}

.skillslayout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.box {
  padding: 8px 18px;
  border: 1.5px solid #C94A1E;
  border-radius: 8px;
  color: #1e1e1e;
  background: #E8E8E8;
  box-shadow: 0 3px 5px rgba(80, 20, 0, 0.67);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.box:hover {
  transform: scale(0.98) translateY(2px);
  box-shadow: 0 1px 3px rgba(80, 20, 0, 0.47);
}
@media (max-width: 640px) {
  .skills-heading {
    font-size: 64px;
    margin-left: 16px;
  }
}