nav {
  background-color: rgba(30, 30, 30, 0.99);
  color: #E8E2D9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  padding: 0 70px;
  top: 0;
  left: 0;
  z-index: 100;
}
 
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style: none;
}
 
.nav-header {
  position: relative;
  text-decoration: none;
  color: inherit;
}
 
.nav-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E8E2D9;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
 
.nav-header:hover::before {
  transform: scaleX(1);
}
.nav-logo-link::before {
  bottom: 50px;
}

.nav-logo {
  height: 150px;
  width: auto;
  display: block;
}